@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'p22_bayer_universal';
    src: url(p22_bayer_universal.ttf);
    font-weight: normal;
    font-size: normal;
}
html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
}
.font {
    font-family: Montserrat;
}

.head{
    font-family: p22_bayer_universal;
    color: #525252;
    font-size: 3.5em;
    text-align: center;
    padding-right: 41%;
}

img {
    padding: 10px 60px 10px 60px;
    width: 80%;
    height: 70em;
}

.bg1-container {
    position: relative;
    text-align: center;
    color: #f8f8f8;
}

.top-left {
    background-color: rgba(red, green, blue, alpha);
    position: absolute;
    color: black;
    top: 50px;
    left: 100px;
    margin-top: 1%;
    padding-left: 12em;
    text-align: left;
  }

.button {
    font-weight: 500;
    padding: 15px 60px;
    background-color: #f9f7f7;
    box-shadow: 0px 8px 10px -2px #a9a5a5;
    font-size: large;
    color: black;
    border: none;
    text-decoration: none;

  }
.wrap {
    display: inline-block;
    margin-top: 3em;
}
.underline {
    text-decoration: underline;
    text-underline-offset: .9em;
 }

 .collection-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 2.3em;
 }

.about {
    margin-top: 3.3em;
    max-width: 50%;
    word-spacing: .2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.offer {
    display: flex;
    float: right;
    font-weight: 500;
    font-size: large;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 22%;
    margin-top: 4%;
}

.font-weight{
    margin-top: 4%;
    font-size: large;
    font-weight: bold;
    font-weight: 500;
    letter-spacing: .3em;
    padding-bottom: .5em;

}
.shipping {
    background-color: white;
    margin: 50px;
    width: 170px;
    height: 150px;
    /* margin-top: -50px; */
}
.warranty {
    background-color: white;
    margin: 50px;
    width: 170px;
    height: 150px;
    padding-right: 20px;
    /* padding-top: 2em; */
}
.crafted {
    background-color: white;
    margin: 50px;
    width: 170px;
    height: 150px;
    margin-left: 50px;
    /* margin-top: -50px; */
}
.sub-footer {
    display: flex;
    position: absolute;
    margin: 80px;
    justify-content: center;
    bottom: -59em;
    margin-left: 135px;
}
.shipping img{
    width: 50px;
    height: 50px;
}
.shipping p {
    text-align: center;
    max-width: 200px;
    font-size: .7em;
}
.warranty img{
    margin: 0 -10px;
    width: 90px;
    height: 90px;
}
.crafted p {
    text-align: center;
    font-size: .7em;
}
.crafted img{
    width: 70px;
    height: 70px;
    padding-left: 50px;
    margin-bottom: -20px;
}
.warranty p {
    text-align: center;
    font-size: .7em;
}
footer {
    background-color: rgba(186, 183, 183, 0.604);
    display: flex;
    margin: 15em 0 0 0;
    border-top-left-radius: 0;
}
.footer-titles {
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(85, 84, 84);
}
.left {
    padding-left: 15em;
}
.contact {
    margin: 2em 0;
}